In [1]:
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
mlp_data = pd.read_csv("../data/mlp1.csv")

  architecutre   unroll   compile_time    run_time
0        Titan        1       5.127928  173.685408
1        Titan        2       1.532293  153.861273
2        Titan        5       1.995234  138.405682
3        Titan        8       4.033359  140.721747
4        Titan       10       3.287625  137.725632